{% extends 'base.html' %} {% block content %}
<div class="article-entry my-3" style="background-color: rgb(50,74,94); color: #FFD05B; max-width: 510px;">
  <h2 style="background-color: rgb(50, 74,94); color:#FFD05B;">{{ object.title }}</h2>
  <p> by {{ object.author }} | {{ object.date }}</p>
  <p>{{ object.body }}</p>
  {% if comments.all is not None %}
  {% for comment in post.comments.all %}
  <p>
    <span class="font-weight-bold"> {{ comment.author }} &middot; </span>
    {{ comment }}
  </p>
  {% endfor %}
  {% else %}
  0 comments 
  {% endif %}
</div>
<p style="color: rgb(50, 74, 94);"
  ><a style="color:rgb(50, 74, 94);"  href="{% url 'post_edit' post.pk %}">Edit</a>|
  <a style="color:rgb(50, 74, 94);" href="{% url 'post_delete' post.pk %}">Delete</a></p
>
<p style="color:rgb(50, 74, 94);">Back to <a style="color: rgb(50, 74, 94);" href="{% url 'post_list' %}">All Posts</a>.</p>
<a style="color: rgb(50, 74, 94);" href="{% url 'comment' %}"></a>
{% endblock content %}
