[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.15"
environs = {version = "==8.0.0", extras = ["django"]}
psycopg2-binary = "==2.8.6"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "*"
