{% extends 'base.html' %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <h1 style="color: rgb(50, 74, 94);">Password Change</h1>
    <p style="color: rgb(50, 74, 94);">Please enter your old password, and then enter your new password twice to complete verification.</p>
    <form style="color: rgb(50, 74, 94);" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input style="background-color: rgb(50, 74, 94); color: #FFD05B;" class="btn" type="submit"
            value="Change my password">
    </form>
{% endblock content %}