{% extends 'base.html' %}
 {% load static %} 
 {% block title %} Ramble {% endblock title %} 
 
 {% block content %}


    
        <h1 class="text-center justify-content-center my-4" style="color: rgb(50, 74, 94);">Welcome To Ramble!</h1>
            <p class="text-center my-2" style="color: rgb(50, 74, 94);">Ramble is an online chat application that will have you chat with other users via public or private chat!</p>
            <p class="text-center my-2" style="color: rgb(50, 74, 94);"> Come Join the Community!!</p>
            <div class="text-center my-4">
                <img src="{% static 'images/ramble_logo.png/' %}" alt="app-logo" height="100" width="100" />
            </div>
            <div class="card border-0 align-items-center" style="background-color: #FFD05B;">
                <a href="{% url 'public1' %}" style= "color:rgb(50, 74, 94);">Public Room 1</a><br>
                <a href="{% url 'public2' %}" style= "color:rgb(50, 74, 94);">Public Room 2</a><br>
                <a href="{% url 'public3' %}" style= "color:rgb(50, 74, 94);">Public Room 3</a><br>
                <a href="{% url 'public4' %}" style= "color:rgb(50, 74, 94);">Public Room 4</a><br>
                <a href="{% url 'public5' %}" style= "color:rgb(50, 74, 94);">Public Room 5</a><br>
            </div>
{% endblock content %}
