{% extends 'base.html' %}

{% load static %}

{% block title %} Ramble {% endblock title %}



{% block content %}
    
        <h1 class="text-center justify-content-center my-4">Welcome To Ramble!</h1>
            <p class="text-center my-2">Ramble is an online chat application that will have you chat with other users via public or private chat!</p>
            <p class="text-center my-2"> Come Join the Community!!</p>
            <div class="text-center my-4">
                <img src="{% static 'images/ramble_logo.png/' %}" alt="app-logo" height="100" width="100" />
            </div>
{% endblock content %}
