{% extends 'base.html' %}

{% block title %}Users{% endblock title %}

{% block content %}
    {% for user in object_list  %}
        <div style="background-color: #FFD05B; max-width: 500px;" class="card mb-3">
            <div style="border-color: #FFD05B;" class="row g-0 border-0">
                <div class="col-md-4" style="background-color: #FFD05B; color: rgb(50, 74, 94);">
                    <a style="color: rgb(50, 74, 94);"  href="{% url 'user_detail' user.pk %}"><h5 style="color:rgb(50, 74, 94);" class="card-title">{{ user.username }}</h5></a>
                    {% if user.is_active == True %}
                        <p class="card-text"> Active </p>
                    {% else %}
                        <p class="card-text">Not Active</p>
                    {% endif %}
                    <p class="card-text">{{ user.date_joined }}</p>
                    {% if user.hide_email == True %}
                    {% else %}
                    <p class="card-text">{{ user.email }}</p>
                    {% endif %}
                    <p style="border-color: #FFD05B;" class="card-text"><small class="text-muted">{{ user.last_login }}</small></p>
                </div>
            </div>
        </div>
    <br />
    {% endfor %}
{% endblock content %}