{% extends 'base.html' %}

{% block title %}Users{% endblock title %}

{% block content %}
    {% for user in object_list  %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    </div>
                        <a href="{% url 'user_detail' user.pk %}"><h5 class="card-title">{{ user.username }}</h5></a>
                        <p class="card-text">{{ user.is_active }}</p>
                        <p class="card-text">{{ user.date_joined }}</p>
                        {% if user.hide_email == True %}
                        {% else %}
                        <p class="card-text">{{ user.email }}</p>
                        {% endif %}
                        <p class="card-text"><small class="text-muted">{{ user.last_login }}</small></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p>{{ post.body }}</p>
            <a class="btn btn-outline-dark" href="{% url 'user_edit' user.pk %}">Edit</a>
            <a class="btn btn-outline-dark" href="{% url 'user_delete' user.pk %}">Delete</a>
        </div>
        <div class="card-footer">
            {% for comment in post.comments.all %}
            <p>
                <span class="font-weight-bold">
                    {{ comment.author }} &middot;
                </span>
                {{ comment }}
                </p>
            {% endfor %}
            </div>
        </div>
        <br />
    {% endfor %}
{% endblock content %}